Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
dockerdeps-0.1.0.tar.gz
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
src/dockerdeps
src/dockerdeps-dockerdeps.o
test-driver
tests/test-suite.log
tests/usage.sh.log
tests/usage.sh.trs

deps/arch-git/Dockerfile
deps/arch-tar/Dockerfile
deps/debian-git/Dockerfile
deps/debian-tar/Dockerfile
deps/fedora-git/Dockerfile
deps/fedora-mingw64/Dockerfile
deps/fedora-tar/Dockerfile
deps/dockerdeps.nsi